<style>

</style>
<div class="container container-table">
        <div class="row vertical-center-row">
                <div class="text-center">
        
<h3>Athletes</h3>
<% @athletes.each do |item| %>
    <%= link_to item.name, athlete_path(item)%><br> <br>
<%end%>
</div>
</div>
</div>