<style>
    @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
    body
    {
        font-family: 'Lato', 'sans-serif';
        }
    .profile 
    {
        min-height: 355px;
        display: inline-block;
        }
    figcaption.ratings
    {
        margin-top:20px;
        }
    figcaption.ratings a
    {
        color:#f1c40f;
        font-size:11px;
        }
    figcaption.ratings a:hover
    {
        color:#f39c12;
        text-decoration:none;
        }
    .divider 
    {
        border-top:1px solid rgba(0,0,0,0.1);
        }
    .emphasis 
    {
        border-top: 4px solid transparent;
        }
    .emphasis:hover 
    {
        border-top: 4px solid #1abc9c;
        }
    .emphasis h2
    {
        margin-bottom:0;
        }
    span.tags 
    {
        background: #1abc9c;
        border-radius: 2px;
        color: #f5f5f5;
        font-weight: bold;
        padding: 2px 4px;
    }
    .image{
        border: 10px solid transparent;
        padding: 20px;
    }
    </style>

    <div class="image">
         
        <img src="https://www.americaninno.com/wp-content/uploads/wpallimport/files/1/2014/03/March-Madness-Bracket.jpg" alt="basketball icon" style="width:350px;height:250px;" style="float:right;width:100px;height:42px;">
        
        <div text-align:center;>
            <h2> <%= @user.username %>'s Page  </h2>
        </div>
        
    </div>
    
   <table style="width:20%" >
        <tr>
            <th><h2>Your Teams:</h2></th>
            
         </tr>

         <% @user.teams.each do |t| %>
            <tr>
                <td height="40"><%= link_to t.name, team_path(t)%></td>
            </tr>
        <% end%>
   
    </table>

    <table style="width:20%" >
            <tr>
                <th><h2>Your Brackets:</h2></th>
                
             </tr>
    
             <% @user.brackets.each do |t| %>
                <tr>
                    <td height="40"><%= link_to t.name, bracket_path(t)%></td>
                </tr>
            <% end%>
    </table>
    
